<div id="estadisticasModal" class="ui modal tiny">
    <i class="close icon"></i>
    <div class="header" style="position: relative;">
        <i class="chart bar icon"></i> Estadísticas
    </div>
    <div class="ui form" style="padding: 2%;">
        <div class="field">
            <div class="ui input labeled left icon">
                <i class="calendar icon"></i>
                <input (ngModelChange)="changeMonth($event)" type="month" name="month" placeholder="Mes"
                    [(ngModel)]="date">
                <a class="ui tag label">
                    Mes
                </a>
            </div>
        </div>
        <div class="ui statistics horizontal">
            <div class="statistic">
                <div class="value">
                    {{this.listadoVenta.length}}
                </div>
                <div class="label">
                    Cantidad ventas
                </div>
            </div>
            <div class="statistic blue">
                <div class="value">
                    {{this.venta.totalVentas | currency}}
                </div>
                <div class="label">
                    Total en ventas
                </div>
            </div>
            <div class="statistic red">
                <div class="value">
                    {{this.venta.totalCostos | currency}}
                </div>
                <div class="label">
                    Total costos
                </div>
            </div>
            <div class="statistic green">
                <div class="value">
                    {{this.venta.totalGanancias | currency}}
                </div>
                <div class="label">
                    Total ganancias
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui button icon ok {{base.unaSkin.botonAceptar}}">
            <i class="checkmark icon"></i> Aceptar
        </button>
    </div>
</div>